# Material que no quiero versionar
Libros/
StarUML/

*.rar
*.zip

# Eclipse
.metadata/
.settings/
.project
.classpath

# Maven
target/
**/target/

# Java compilado
*.class

# Binarios Eclipse
bin/
**/bin/

# Logs
*.log

# VS Code
.vscode/

